@import url("https://fonts.googleapis.com/css2?family=Reggae+One&display=swap");

.button-wrapper {
  height: 3em;
  display: flex;

  font-weight: lighter;
  font-size: 1.4em;
  flex: 1;
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  margin: 2px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: black;
  border: 2px solid #008cba;
  font-family: "Reggae One", cursive;
}
.button-wrapper:hover {
  background-color: #008cba;
  color: white;
}

.operator {
  margin: 2px 2px;
  padding: 16px 32px;
  background-color: rgb(146, 23, 191);
  color: black;
  /* padding: 20px; */
  border: 1px solid white;


  background-color: #008cba;
  color: white;
  border: 2px solid white;
  font-family: "Reggae One", cursive;
}
.operator:hover {
  background-color: white;
  color: black;
}


