@import url('https://fonts.googleapis.com/css2?family=Reggae+One&display=swap');

.clear-btn {
  height: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: lighter;
  font-size: 1.4em;
  background-color: blue;
  color: white;
  flex: 1;
  margin-top: 3px;
  background-color: #008cba;
  color: black;
  border: 2px solid white;
  font-family: "Reggae One", cursive;
  cursor: pointer;
}

.clear-btn:hover {
  background-color: white;
  color: black;
  border: 2px solid #008cba;
}
