@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
.header{
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: lighter;
    font-size: 2.4em;
    background-color: blue;
    font-family: 'Permanent Marker', cursive;
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
    box-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue inset;

    color:white;
    outline: 1px solid red;
    flex: 1;
    background-image: url('../images/above.jpg');
    

}