@import url('https://fonts.googleapis.com/css2?family=Reggae+One&display=swap');

.input{
    height: 4em;
    display: flex;
    overflow: hidden;
    justify-content: flex-end;
    align-items: center;
    font-weight: bold;;
    font-size: 1.4em;
    font-family: 'Reggae One', cursive;
    text-shadow: rgb(0, 119, 255) 1px 0 10px;
    background-color: white;
    color:black;
    padding:0.5em;
    outline:1px solid white;  
    box-shadow: 1px 1px 10px black, 0 0 1em blue, 0 0 0.9em black inset;
    margin-bottom: 3px;
}
