body{
    background-image: url('./images/01.jpg');
    background-color: black;
    background-size: 100%;
    background-repeat: no-repeat;
    
  
}

.app {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}




.container{
    width: 400px;
    height: 600px;
}

.row{
    display: flex;
    width: 100%;
}
.equalTo {
width:100px;
background-color: green;
}
.equalTo:hover{
    width:100px;
    background-color: black;
    }


.button{
    background-color: blue;
}